@import 'tailwindcss';
@plugin "daisyui" {
    themes: all;
}

@theme {
    --font-sans:
        'Space Grotesk', ui-sans-serif, system-ui, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
}
