@import 'tailwindcss';

@theme {
    --font-sans:
        'Space Grotesk', ui-sans-serif, system-ui, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
}

@plugin 'daisyui' {
    themes: emerald --default;
    /* dark --prefersdark */
}
